<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="Register">
        <form action="/api/v1/register" method="post" id="form1">
            <span>Enter Email :</span>
            <input type="email_id" placeholder="email_id" name="email_id"><br>
            <span>Enter your name :</span>
            <input type="name" placeholder="name" name="name"><br>
            <span>Enter your password :</span>
            <input type="password" placeholder="password" name="password"><br>
            <span>Confirm password :</span>
            <input type="password" placeholder="confirm_password" name="confirm_password"><br>
            <span>Enter your mobile number :</span>
            <input type="Mobile_number" placeholder="mobile_number" name="mobile_number"><br>
            <button type="submit" form="form1" value="Submit">Submit</button>
        </form>
    </div>
</body>
</html>