<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Mail</title>
</head>
<body>
    <h1>Send Mail
    </h1>
    <div class="send_mail">
        <form action="/api/v1/send_mail" method="post" id="form2">
            <span>Enter Your Email_id</span>
            <input type="email_id" placeholder="Enter your email here" name="email_id">
            <button type="send" form="form2" value="send">Send</button>
        </form>
    </div>
</body>
</html>